@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

$Epilogue: "Epilogue",
sans-serif;

$clr-neutral-100: hsl(0, 0%, 98%);
$clr-neutral-200: hsl(0, 0%, 41%);
$clr-neutral-300: hsl(0, 0%, 8%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  font-family: $Epilogue;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: $Epilogue;
  font-weight: 700;
  line-height: 1;
  font-size: 4rem;
}

h2,
h3,
p {
  margin-bottom: 0em;
}

p {
  color: $clr-neutral-200;
}

ul {
  padding: 0;
}

a {
  color: inherit;
  font-family: $Epilogue;
  text-decoration: inherit;
}

nav {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.overlay {
  position: absolute;
  background: $clr-neutral-200;
  transition: 350ms ease-in-out;
  z-index: 1000;
}

.overlay:after {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
  z-index: 0;
}

.App {
  background: $clr-neutral-100;
}

.black-btn {
  background: $clr-neutral-300;
  color: $clr-neutral-100;
  border: 3px solid $clr-neutral-300;
  border-radius: 20px;
  padding: .7rem 2rem;
  font: inherit;
  font-weight: 700;
  cursor: pointer;
  outline: inherit;
  transition: 150ms ease-in-out;

  &:hover {
    background-color: $clr-neutral-100;
    color: $clr-neutral-300;
  }
}

.black-outline-btn {
  border: 3px solid $clr-neutral-300;
  border-radius: 20px;
  padding: .7rem 2rem;
  text-decoration: none;
  cursor: pointer;
  outline: inherit;
  transition: 150ms ease-in-out;

  &:hover {
    background-color: $clr-neutral-300;
    color: $clr-neutral-100;
  }
}

#mobile-nav-btn {
      display: none;
}

@media (min-width: 1000px) {
  nav {
		z-index: 9000;
    display: flex;
    flex-direction: row;
    background: $clr-neutral-100;

    .nav-arrow-icon {
      position: absolute;
      margin-left: .6rem;
      margin-top: 2rem;
      width: .75rem;
    }

    .logo-img {
      line-height: 70px;
      object-fit: contain;
      width: 6rem;
      margin-left: clamp(.8rem, 5vw, 6rem);
      margin-right: clamp(.5rem, 3vw, 4rem);
    }

    &::after {
      content: '';
      clear: both;
      display: table;
    }

    ul {
      position: relative;
      float: rigth;
      list-style: none;
      font-size: 18pt;
      margin-right: 20px;

      li {
        display: inline-block;
        margin: 0 5px;

        a {
          color: inherit;
          text-decoration: none;
          line-height: 70px;
          font-size: 18px;
          padding-inline: clamp(.2rem, 1.25vw, 10rem);
          text-decoration: underline 0.15em rgba(0, 0, 0, 0);
          transition: text-decoration-color 300ms;

          &:hover {
            text-decoration-color: rgba(0, 0, 0, 1);
          }
        }

        span {
          margin-right: 10px;
        }

        &:hover {
          border-radius: 5px;
        }

        &:hover>ul {
          top: 70px;
          opacity: 1;
          visibility: visible;
        }
      }

      ul {
        position: absolute;
        top: 90px;
        opacity: 0;
        visibility: hidden;
        transition: top .3s;
        background: white;
        box-shadow: 1px 1px hsl(0, 0%, 80%), -.2em 0 .2em hsl(0, 0%, 80%);
        border-radius: 20px;

        li {
          position: relative;
          margin: 0;
          width: 200px;
          float: none;
          display: list-item;

          a {
            line-height: 50px;
          }
        }

        .features-list, img {
          width: .9rem;
        }

        .company-list, li {
          margin-inline-start: 1rem;
        }
      }

      

      #career-li {
        margin-right: clamp(.5rem, .7rem, 1rem);
      }
    }
  }

  .body {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    max-width: 75rem;
    padding-inline: 5rem;
    overflow-x: hidden;

    .black-btn {
      margin: 3rem 0;
    }

    .body-text {
      max-width: 30rem;
      max-height: 45rem;
      object-fit: contain;
      margin-right: clamp(1rem, 6vw, 10rem);

      h1 {
        margin-bottom: 3rem;
      }

      p {
        color: $clr-neutral-200;
        font-size: 1.1rem;
      }
    }

    .sponsors-img>* {
      justify-content: flex-end;
      padding-inline-end: clamp(1rem, 3vw, 2rem);
    }

    .main-hero-img {
      min-width: 20rem;
      max-height: 40rem;
      max-height: clamp(35rem, 50vw, 40rem);
      object-fit: contain;
      width: auto;
      height: auto;

    }
  }
}

@media (max-width: 1000px) {
  #mobile-nav-btn {
    display: block;
  }

  body {
    display: flex;
    text-align: center;

    nav * {
      list-style: none;
    }

    nav {
      position: fixed;
      flex-direction: column;
      inset: 0 0 0 40%;
      background: $clr-neutral-100;
      color: $clr-neutral-200;
      transform: translateX(100%);
      transition: transform 350ms ease-out;

      li {
        padding-inline-start: 2rem;
        a {
          display: inline-flex;
          margin-bottom: 1.25rem;

          span {
            margin-inline-end: .5rem;
            scale: 150%;
          }
        }
      }

      .company-list[data-visible="false"] {
        display: none;
      }

      .features-list[data-visible="false"] {
        display: none;
      }

      .nav-anchor {
        margin-bottom: 1.5rem;
        cursor: pointer;
      }

      .nav-arrow-icon {
        margin-left: clamp(.5rem, .7vw, 1rem)
      }

      .logo-img {
        display: none;
      }

      .main-nav {
        margin-top: 5rem;
        text-align: start;
      }

      .login-nav {

        .black-outline-btn {
          padding: .7rem 5rem;
        }
      }
    }

    nav[data-visible="false"] {
      transform: translateX(0%);
    }

    .main-hero-img {
      margin-top: 5rem;
      margin-bottom: 2rem;
      max-height: 22.5rem;
    }

    .text-block {
      h1 {
        font-size: 5vh;
        word-wrap: normal;
      }

      p {
        margin-inline: 2rem;
      }

      .sponsors-img>* {
        margin-inline: 1rem;
      }
    }
    .text-block * {
      margin-bottom: 2rem;
    }
    .black-btn {
      margin-bottom: clamp(1.5rem, 2vw, 5rem);
    }
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url("/public/images/icon-menu.svg");
    background-repeat: no-repeat;
    border-style: none;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-toggle-inactive {
    @extend .mobile-nav-toggle;
    background: url("/public/images/icon-close-menu.svg");
    background-repeat: no-repeat;
  }
}
