@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  font-family: "Epilogue", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 4rem;
}

h2,
h3,
p {
  margin-bottom: 0em;
}

ul {
  padding: 0;
}

a {
  color: inherit;
  font-family: "Epilogue", sans-serif;
  text-decoration: inherit;
}

.App {
  background: hsl(0deg, 0%, 98%);
}

.black-btn {
  background: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  border: 3px solid hsl(0deg, 0%, 8%);
  border-radius: 10px;
  padding: 0.7rem 2rem;
  font: inherit;
  font-weight: 700;
  cursor: pointer;
  outline: inherit;
  transition: 150ms ease-in-out;
}
.black-btn:hover {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 8%);
}

nav {
  display: flex;
  flex-direction: row;
  background: hsl(0deg, 0%, 98%);
}
nav .logo-img {
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  max-width: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 2rem;
}
nav::after {
  content: "";
  clear: both;
  display: table;
}
nav ul {
  position: relative;
  float: rigth;
  list-style: none;
  font-size: 18pt;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  margin: 0 5px;
}
nav ul li a {
  color: inherit;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
  -webkit-text-decoration: underline 0.15em rgba(0, 0, 0, 0);
          text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: -webkit-text-decoration-color 300ms;
  transition: text-decoration-color 300ms;
  transition: text-decoration-color 300ms, -webkit-text-decoration-color 300ms;
}
nav ul li a:hover {
  -webkit-text-decoration-color: rgb(0, 0, 0);
          text-decoration-color: rgb(0, 0, 0);
}
nav ul li span {
  margin-right: 10px;
}
nav ul li:hover {
  border-radius: 5px;
}
nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul {
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
  background: white;
  box-shadow: 1px 1px hsl(0deg, 0%, 80%), -0.2em 0 0.2em hsl(0deg, 0%, 80%);
  border-radius: 20px;
}
nav ul ul li {
  position: relative;
  margin: 0;
  width: 150px;
  float: none;
  display: list-item;
}
nav ul ul li a {
  line-height: 50px;
}

@media (min-width: 800px) {
  .body {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    max-width: 75rem;
    padding-inline: 5rem;
  }
  .body .black-btn {
    margin: 3rem 0;
  }
  .body .body-text h1 {
    margin-bottom: 3rem;
    padding-right: 5rem;
  }
  .body .body-text p {
    color: hsl(0deg, 0%, 41%);
    font-size: 1.1rem;
    max-width: 50rem;
    margin-right: 5rem;
  }
  .body .sponsors-img > * {
    -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
  }
  .body .main-hero-img {
    min-width: 30rem;
    max-height: 45rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
}/*# sourceMappingURL=style.css.map */